@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #F6F6F6;
  --cor-terciaria: #22D4FD;
  --cor-hover: #272727;

  --fonte-primaria: "Krona One", serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

body {
  
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.cabecalho__menu__link.active {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}


.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 15%;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
  
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
}

.foto-apresentacao {
  width: 50%;
}

.gallery img {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbox img {
  max-width: 100%;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: red;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 1001;
  border-radius: 10px;
  transition: background 0.3s;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.rodape {
  padding: 24px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
 .cabecalho {
  padding: 10%;
 }
 .cabecalho__menu {
  justify-content: center;
 }
 .apresentacao {
  flex-direction: column-reverse;
  padding: 5%;
 }
 .apresentacao__conteudo {
  width: auto;
 }
}
@media screen and (max-width: 768px) {
  .image {
    width: calc(50% - 20px);
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: 100%;
  }
}